.sidebar {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%; /* Ajustar a la altura del contenedor padre */
    box-sizing: border-box; /* Asegura que el padding no cause desbordamientos */
  }
  
  .option-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #518B10;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .col-auto {
    margin-top: auto; /* Empuja el botón de "Cerrar Sesión" hacia abajo */
  }
  
  .logout-button {
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .user-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 40px;
    border: 4px solid rgb(53, 53, 53);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  