/* Sidebar.css */

.sidebar {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  transition: width 0.3s ease; /* Animación para el cambio de tamaño */
  width: 60px; /* Ancho inicial cuando está contraído */
  min-width: 60px; /* Mínimo ancho en estado contraído */
}

.sidebar.expanded {
  width: 200px; /* Ancho cuando está expandido */
}

.user-image {
  width: 40px;
  aspect-ratio: 1; /* Mantiene la proporción para que siempre sea un círculo */
  object-fit: cover;
  border: 3px solid #353535;
  border-radius: 50%; /* Forma circular asegurada */
  display: block;
  margin: 0 auto 10px; /* Menos espacio debajo para acercar el nombre */
  transition: width 0.3s, margin-bottom 0.3s;
}

.sidebar.expanded .user-image {
  width: 80px;
  margin-bottom: 10px;
}

.user-name-label {
  display: none;
}

.sidebar.expanded .user-name-label {
  display: block;
  margin-top: 5px; /* Espacio reducido */
  font-weight: bold;
  color: #333;
}

.option-button {
  padding: 10px 0; /* Elimina padding lateral para estilo minimalista */
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #e0e0e0; /* Línea superior delgada */
  border-bottom: 1px solid #e0e0e0; /* Línea inferior delgada */
  transition: background-color 0.3s;
  gap: 10px;
  justify-content: center;
}

.sidebar.expanded .option-button {
  justify-content: flex-start;
  padding-left: 20px;
}

.option-button:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el cursor */
}

.option-button .option-icon {
  font-size: 1.2em;
  color: #666; /* Color de icono */
}

.option-button .option-text {
  display: none;
}

.sidebar.expanded .option-button .option-text {
  display: inline;
  color: #333;
  font-weight: 500;
}

.logout-button {
  padding: 10px 0;
  background-color: transparent;
  color: #dc3545;
  border: none;
  cursor: pointer;
  border-top: 1px solid #e0e0e0;
  margin-top: auto;
  width: 100%;
}

.logout-button:hover {
  background-color: #f8d7da; /* Fondo gris claro para el botón de cerrar sesión */
}

.toggle-button {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1.2em;
  cursor: pointer;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.sidebar.expanded .toggle-button {
  transform: rotate(180deg);
}
